{{#if news}}
  <div class='card align-items-center'>
    <div class='card-body'>
      <h2 class='text-uppercase'>{{news.title}}</h2>
      <h6 class='card-subtitle mb-2 text-muted'>
       Автор: {{news.user.firstName}} {{news.user.lastName}}
      </h6>
      <h6 class='card-subtitle text-muted mb-3'>
        Дата создания:
        {{dateLocal news.createdAt}}
      </h6>
      <img
        class='img-fluid rounded'
        style='max-height:450px'
        src='http://localhost:3000{{news.cover}}'
        alt='cover news'
      />
      <p class='card-text mt-3'>{{news.description}}</p>
      <a href='http://localhost:3000/news'>
        <button type='button' class='btn btn-dark mb-2'>
          К новостям
        </button>
      </a>
    </div>
  </div>
  <div class='card mt-3'>
  {{#if cookies}}
    {{>form-create-comment}}
  {{else}}
    <h5 class="text-secondary">Для возможности комментирования Вы можете авторизоваться на сайте</h5>
  {{/if}}
    {{#if comments}}
    <div class="card-body text-start">
      <h5 class="text-uppercase">Комментарии:</h5>
      <div class="card text-left mt-3">
        <div class="card-body">
        {{#each comments}}
          <div class="d-flex flex-row mb-2">
            <img src="http://localhost:3000{{this.user.avatar}}" class="rounded-circle me-2" alt="avatar"  style="height: 50px; width: 50px;">
            <p class="my-auto">{{this.message}}</p>
          </div>
          {{!-- <div style='max-width: 320px;'>
            <h6 class='text-uppercase mt-4 mb-0'>Ответить на комментарий:</h6>
            <div
              class='card-body'
              style='display: flex;
              flex-direction: column;
              align-items: flex-start;'
            >
              <div class='mb-2'>
                <textarea
                  class='form-control text-left'
                  id='userCommentReply{{this.id}}'
                  rows='4'
                  cols='50'
                  placeholder='Ответить на комментарий'
                ></textarea>
              </div>
              <button id="reply{{this.id}}" class='btn btn-outline-dark mb-3'>Ответить</button>
            </div>
            {{#if this.reply}}
              <h6 class="text-uppercase">Ответы:</h6>
              {{#each this.reply}}
              <div class="d-flex flex-row mb-2"">
                <img src="http://localhost:3000{{this.avatarPath}}" class="rounded-circle me-2" alt="avatar"  style="height: 50px; width: 50px;>
                <p class="my-auto">{{this.comment}}</p>
              </div>
              {{/each}}
            {{/if}}
           </div> --}}
          <hr>
        {{/each}}
        </div>
      </div>
    {{else}}
    <h5 class="text-secondary">Для этой новости комментариев нет</h>
    {{/if}}
    <script>
      const createComment = () => {
        const comment = document.getElementById("userComment");
        if (comment.value !== "") {
          const myHeaders = new Headers();
          myHeaders.append("Content-Type", "application/x-www-form-urlencoded");
          const urlencoded = new URLSearchParams();
          urlencoded.append("message", comment.value);
          urlencoded.append("authorId", {{cookies.user.id}});
          const requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: urlencoded,
            redirect: 'follow'
          };

          fetch("http://localhost:3000/news-comments/create/?idNews={{this.news.id}}", requestOptions)
            .then(response => response.text())
            .then(result => {console.log(result); window.location.reload();})
            .catch(error => console.log('error', error));
        } else {
          alert("Введите текст комментария")
        }
      }
      document.getElementById("btnCreateComment").addEventListener("click", createComment);
    </script>
    </div>
  </div>
{{else}}
  <h1 class='text-center'>Новость не найдена</h1>
  <a href='http://localhost:3000/news'>
    <button type='button' class='btn btn-dark mt-3'>
      К новостям
    </button>
  </a>
{{/if}}
